name: "OpenCPN (Ingress)"
version: "0.1.1"
slug: "opencpn_ingress"
description: "OpenCPN via KasmVNC, exposed only through Home Assistant ingress"
url: "https://github.com/moreau-it/home-assistant-add-ons"

arch:
  - aarch64
  - amd64
  - armv7

startup: services
boot: auto
init: false

ingress: true
ingress_port: 6080

panel_title: "OpenCPN"
panel_icon: "mdi:crosshairs-gps"
panel_admin: false

devices:
  - /dev/ttyAMA0
  - /dev/ttyUSB0
  - /dev/hidraw0
  - /dev/hidraw1

udev: true
stdin: true
tty: true

privileged:
  - SYS_ADMIN
  - NET_ADMIN
  - SYS_RAWIO

map:
  - share:rw
  - config:rw

options:
  vnc_password: "ChangeMe123"
  insecure_mode: true

schema:
  vnc_password: password?
  insecure_mode: bool
