name: "OpenCPN"
version: "0.0.3-kiosk-no-httpauth-01"
slug: "opencpn"
description: "Marine navigation app OpenCPN running as a Home Assistant add-on with KasmVNC"
url: "https://github.com/moreau-it/home-assistant-add-ons"

arch:
  - aarch64
  - amd64

startup: services
boot: auto
init: false

# Ingress (for sidebar / HA UI)
ingress: true
ingress_port: 6080

panel_title: "OpenCPN"
panel_icon: "mdi:crosshairs-gps"
panel_admin: false

# Direct port (for Cloudflare / external)
ports:
  "6080/tcp": 6080
ports_description:
  "6080/tcp": "KasmVNC Web Interface (HTTP/Websocket)"

devices:
  - /dev/ttyAMA0
  - /dev/ttyUSB0
  - /dev/hidraw0
  - /dev/hidraw1

udev: true
stdin: true
tty: true

privileged:
  - SYS_ADMIN
  - NET_ADMIN
  - SYS_RAWIO

map:
  - share:rw
  - config:rw

options:
  vnc_password: "ChangeMe123"
  insecure_mode: true

schema:
  vnc_password: password?
  insecure_mode: bool
