name: OpenCPN
version: 0.9.0
slug: opencpn
description: Marine navigation app OpenCPN running with KasmVNC (no ingress)
url: https://github.com/moreau-it/home-assistant-add-ons
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto

ports:
  6080/tcp: 6080

ports_description:
  6080/tcp: "KasmVNC Web Interface"

map:
  - config:rw
  - share:rw

options:
  vnc_password: "ChangeMe123"
  insecure_mode: false

schema:
  vnc_password: str
  insecure_mode: bool?
