name: "OpenCPN"
version: "latest"
slug: "opencpn"
description: "Marine navigation app OpenCPN with KasmVNC for Home Assistant"
url: "https://github.com/moreau-it/home-assistant-add-ons"

arch:
  - aarch64
  - amd64

startup: services
boot: auto
init: false

# --------------------------------------
# Direct access via Cloudflare or browser
# --------------------------------------
ports:
  "6080/tcp": 6080
ports_description:
  "6080/tcp": "KasmVNC Web Interface (HTTP/Websocket)"

# No ingress, no sidebar
ingress: false

devices:
  - /dev/ttyAMA0
  - /dev/ttyUSB0
  - /dev/hidraw0
  - /dev/hidraw1

udev: true
stdin: true
tty: true

privileged:
  - SYS_ADMIN
  - NET_ADMIN
  - SYS_RAWIO

map:
  - share:rw
  - config:rw

options:
  vnc_password: "ChangeMe123"
  insecure_mode: false

schema:
  vnc_password: password?
  insecure_mode: bool
